.box {
	width: 7.50rem;
	height: 13.36rem;
	background: #FFFFFF;
	position: relative;

}

.box .head {
	width: 7.5rem;
	height: 1.31rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
	background: #FFFFFF;
	border: 1px solid #F5F5F5;
	box-shadow: 0px 4px 14px 3px rgba(86, 231, 167, 0.1);

}

.box .head i {
	width: .86rem;
	font-size: .60rem;
	font-family: PingFangSC;
	font-weight: 400;
	color: #333333;
	line-height: .93rem;
	padding-left: .26rem;
	box-sizing: border-box;
}

.box .head>span {
	font-size: .34rem;
	font-family: PingFangSC;
	font-weight: 400;
	color: #333333;
	line-height: .52rem;
}

.box .head>.empty {
	width: .86rem;
}

.box .mat {
	height: 1.31rem;
}

.box .body {
	width: 7.5rem;
	padding: .24rem .24rem;
	box-sizing: border-box;
}

.box .body .peg {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.box .body .peg>img {
	width: 7.01rem;
	height: .06rem;
}

.box .body .title {
	width: 7.01rem;
	height: 1.67rem;
	background: #FFFFFF;
	border: 1px solid #F5F5F5;
	box-shadow: 0px 4px 14px 3px rgba(86, 231, 167, 0.1);
	border-radius: .16rem;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: .37rem .24rem;
	box-sizing: border-box;
}

.box .body .title .name {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.box .body .title .name>span:nth-of-type(1) {
	font-size: .26rem;
	font-family: SourceHanSansCN;
	font-weight: 400;
	color: #484848;
}

.box .body .title .name>span:nth-of-type(2) {
	width: 64px;
	height: 34px;
	background: rgba(234, 104, 104, 0);
	border: 2px solid #FD4141;
	border-radius: 17px;
	font-size: .17rem;
	font-family: SourceHanSansCN;
	font-weight: 400;
	color: #FD4141;
	text-align: center;
	margin-top: .14rem;

}

.box .body .title>.address {
	width: 4.48rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin: 0 .01rem 0 .43rem;
}

.box .body .title .address>.number {
	font-size: .24rem;
	font-family: SourceHanSansCN;
	font-weight: bold;
	color: #666666;

}

.box .body .title .address>.add {
	font-size: .24rem;
	font-family: SourceHanSansCN;
	font-weight: bold;
	color: #999999;
	margin-top: .14rem;
}

.box .body .title .btn {
	display: flex;
	justify-content: flex-start;
	align-items: center;

}

.box .body .title .btn>img {
	width: .24rem;
	height: .23rem;
}

.box .body .title .btn>span {
	font-size: .24rem;
	font-family: SourceHanSansCN;
	font-weight: 400;
	color: #999999;
	margin-left: .09rem;
}

.box .body .item {
	width: 7.01rem;
	/* height: 3.39rem;	 */
	background: #FFFFFF;
	border: 1px solid #F5F5F5;
	box-shadow: 0px 4px 14px 3px rgba(86, 231, 167, 0.1);
	border-radius: 16px;
	display: flex;
	margin-top: .25rem;
	padding: .31rem .24rem;
	box-sizing: border-box;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.box .body .item>h3 {
	font-size: .28rem;
	font-family: SourceHanSansCN;
	font-weight: 400;
	color: #666666;
}

.box .body .item .content {
	width: 6.52rem;
	/* height: 3.39rem; */
	display: flex;
	justify-content: flex-start;
	align-items: center;
	/* margin:.30rem 0 .25rem 0; */
}

.box .body .item .content>img {
	width: .85rem;
	height: .85rem;
}

.box .body .item .content img:nth-of-type(2) {
	width: .38rem;
	height: .38rem;
}

.box .body .item .empty {
	width: 6.52rem;
	height: .01rem;
	border: 1px solid #EEEEEE;
}

.box .body .item .content .decription {
	width: 4.44rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin: .23rem .27rem;
}

.box .body .item .content .decription>h2 {
	font-size: .32rem;
	font-family: SourceHanSansCN;
	font-weight: 500;
	color: #484848;
}

.box .body .item .content .decription>p {
	font-size: .28rem;
	font-family: SourceHanSansCN;
	font-weight: 400;
	color: #666666;
}

.box .body .bottombar {
	width: 7.01rem;
	/* height: 6.3rem; */
	border: 1px solid #F5F5F5;
	box-shadow: 0px 4px 14px 3px rgba(86, 231, 167, 0.1);
	border-radius: .16rem;
	padding: .31rem .24rem;
	margin:.25rem 0 ;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.box .body .bottombar>h2 {
	font-size: .28rem;
	font-family: SourceHanSansCN;
	font-weight: 400;
	color: #666666;
}

.box .body .bottombar .xinxi {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.box .body .bottombar .xinxi>.empty {
	width: .20rem;
	height: .20rem;
	background: linear-gradient(0deg, #02BF6F, #56E7A7);
	opacity: 0.6;
	border-radius: 50%;
}

.box .body .bottombar .xinxi>p {
	font-size: .26rem;
	font-family: SourceHanSansCN;
	font-weight: 500;
	color: #484848;
	margin: .15rem .14rem.22rem;
}

.box .body .bottombar .content2 {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;

}

.box .body .bottombar .content2>img {
	width: 1.40rem;
	height: 1.40rem;
	border-radius: .10rem;
}

.box .body .bottombar .content2 .decription {
	width: 3.00rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin: 0 .25rem .22rem;
}

.box .body .bottombar .content2 .decription>h2 {
	font-size: .28rem;
	font-family: SourceHanSansCN;
	font-weight: 400;
	color: #666666;
}

.box .body .bottombar .content2 .decription>p:nth-of-type(1) {
	font-size: .26rem;
	font-family: SourceHanSansCN;
	font-weight: 400;
	color: #999999;
	margin: .22rem 0;
}

.box .body .bottombar .content2 .decription>p:nth-of-type(2) {
	font-size: .24rem;
	font-family: SourceHanSansCN;
	font-weight: 400;
	color: #999999;
}

.box .body .bottombar .content2 .confont {
	width: 1.40rem;
	height: 1.40rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

.box .body .bottombar .content2 .square {
	width: 100%;
	border-radius: .18rem;
	border: 1px solid #E5E5E5;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.box .body .bottombar .content2 .square>.square1 {
	font-size: .18rem;
	font-family: SourceHanSansCN;
	font-weight: 400;
	color: #999999;
}

.box .body .bottombar .content2 .square>.cont {
	width: .50rem;
	text-align: center;
	font-size: .24rem;
	border: 1px solid #E5E5E5;
	font-family: SourceHanSansCN;
	font-weight: 400;
	color: #484848;
}

.box .body .bottombar .content2 .square>.square2 {
	font-size: .18rem;
	font-family: SourceHanSansCN;
	font-weight: 400;
	color: #999999;
}

.box .body .bottombar .fix {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right:.25rem ;
	/* margin: .15rem 0; */
	box-sizing: border-box;
}

.box .body .bottombar .fix>h2 {
	font-size: .28rem;
	font-family: SourceHanSansCN;
	font-weight: 400;
	color: #484848;
}

.box .body .bottombar .fix>p {
	font-size: .26rem;
	font-family: SourceHanSansCN;
	font-weight: 400;
	color: #999999;
}

.box .body .bottombar .ming {
	width: 6.52rem;
	border-top: 1px solid #EEEEEE;
	margin-top:.24rem;
	padding-top:.22rem ;
	box-sizing: border-box;
}

.box .body .bottombar .ming .list {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.box .body .bottombar .ming .list>h2 {
	font-size: .28rem;
	font-family: SourceHanSansCN;
	font-weight: 400;
	color: #484848;
	margin-right:.31rem ;
}

.box .body .bottombar .ming .list>p {
	font-size: .26rem;
	font-family: SourceHanSansCN;
	font-weight: 400;
	color: #999999;
}

.box .body .bottombar .ming .list>.list2 {
	width: 6.52rem;
}

.box .body .bottombar .ming>.list3 {
	width: 100%;
	height:1.30rem ;
	margin-top: .10rem;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	/* margin-bottom: .32rem; */
}

.box .body .bottombar .ming .list3>p {
	font-size: .28rem;
	font-family: PingFang;
	font-weight: 500;
	color: #333333;
	margin-right:.09rem ;
}

.box .body .bottombar .ming .list3>h3 {
	font-size: .28rem;
	font-family: PingFang;
	font-weight: 500;
	color: #FE4A4A;
}
.box .footer{
	width: 7.50rem;
	height: 1.10rem;
	background: #FFFFFF;
	box-shadow: 0px 6px 14px 4px rgba(132, 132, 132, 0.15);
	margin-top: 1.24rem;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: fixed;
	left: 0;
	bottom: 0;
}
.box .footer>span:nth-of-type(1){
	font-size: .26rem;
	font-family: PingFang;
	font-weight: bold;
	color: #484848;
}
.box .footer>span:nth-of-type(2){
	font-size: .26rem;
	font-family: PingFang;
	font-weight: bold;
	color: #FE4747;
	margin-left:.008rem;
	margin-right:.20rem;
}
.box .footer>span:nth-of-type(3){
	width: 2.23rem;
	height: 1.10rem;
	background: linear-gradient(91deg, #56E7A7, #02BF6F);
	font-size: .32rem;
	font-family: SourceHanSansCN;
	font-weight: 400;
	color: #FFFFFF;
	line-height:1.10rem ;
	text-align: center;
}