.font1 {
  font-size: 0.28rem;
  font-family: PingFang;
  font-weight: bold;
}
.box {
  width: 7.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}
.box .title {
  background: #FFFFFF;
  position: fixed;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
.box .title .head {
  width: 7.5rem;
  height: 1.31rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box .title .head > span {
  width: 1.34rem;
  font-size: 0.6rem;
  font-family: PingFang;
  font-weight: 400;
  color: #333333;
  padding-left: 0.24rem;
  box-sizing: border-box;
}
.box .title .head > h3 {
  font-size: 0.34rem;
  font-family: PingFang;
  font-weight: bold;
  color: #333333;
}
.box .title .head > .empty {
  width: 1.34rem;
  height: 0.33rem;
}
.box .mat {
  height: 1.31rem;
}
.box .body {
  width: 7.5rem;
  height: 12.06rem;
  background: #FAFAFA;
  padding: 0.24rem 0.25rem;
  box-sizing: border-box;
}
.box .body .item {
  width: 7.01rem;
  background: #FFFFFF;
  border: 1px solid #E1DDDD;
  border-radius: 0.16rem;
}
.box .body .item .description {
  width: 100%;
  height: 1.12rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-top: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
}
.box .body .item .description > img,
.box .body .item .description > p {
  width: 0.27rem;
  height: 0.38rem;
  padding-left: 0.48rem;
}
.box .body .item .description > input {
  width: 100%;
  height: 1.12rem;
  font-size: 0.28rem;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #999999;
  outline: none;
  border: none;
  padding-left: 0.49rem;
}
.box .body .item .description > span {
  width: 2.9rem;
  height: 0.68rem;
  background: linear-gradient(91deg, #56E7A7, #02BF6F);
  border-radius: 0.34rem;
  font-size: 0.22rem;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 0.68rem;
  text-align: center;
  margin-right: 0.25rem;
}
.box .body .footer {
  width: 7.01rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 0.27rem;
  margin-bottom: 0.8rem;
}
.box .body .footer > img {
  width: 0.36rem;
  height: 0.36rem;
}
.box .body .footer > p {
  font-size: 0.28rem;
  font-family: PingFang;
  font-weight: bold;
  color: #666666;
  margin-left: 0.27rem;
}
.box .body .footer h1 {
  font-size: 0.28rem;
  font-family: PingFang;
  font-weight: bold;
  color: #02BF6F;
}
.box .body .footerbtn {
  width: 7.01rem;
  height: 0.88rem;
  background: linear-gradient(91deg, #56E7A7, #02BF6F);
  border-radius: 0.44rem;
  font-size: 0.34rem;
  font-family: SourceHanSansCN;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 0.88rem;
  text-align: center;
}
