.box {
  width: 7.5rem;
  background: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.box .title {
  width: 7.5rem;
  height: 1.2rem;
  background: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  padding: 0 0.24rem 0 0.24rem;
  box-sizing: border-box;
}
.box .title span {
  font-size: 0.3rem;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #444444;
}
.box .title > img {
  width: 0.2rem;
  height: 0.2rem;
}
.box .title .description {
  width: 4.48rem;
  height: 0.6rem;
  background: #f7f7f7;
  border-radius: 0.3rem;
  font-size: 0.24rem;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #999999;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.box .title .description > img {
  width: 0.28rem;
  height: 0.28rem;
  margin: 0 0.2rem 0 0.3rem;
}
.box .title .description > input {
  border: none;
  outline: none;
  font-size: 0.2rem;
}
.box .title .description > input::-webkit-input-placeholder {
  color: #999999;
}
.box .title .description2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box .title .description2 > img {
  width: 0.37rem;
  height: 0.37rem;
}
.box .title .description2 > span {
  font-size: 0.3rem;
  font-family: Source Han Sans CN;
  font-weight: 500;
  color: #ff6906;
}
.box > .empty {
  width: 7.5rem;
  height: 1.2rem;
}
.box .cont1 {
  width: 7.5rem;
  height: 1.74rem;
  display: flex;
  justify-content: space-around;
}
.box .cont1 span {
  width: 0.95rem;
  height: 100%;
  font-size: 0.32rem;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #333333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 0.57rem;
}
.box .cont1 span .empty1 {
  width: 0.31rem;
  height: 0.03rem;
  background: #333333;
  margin-top: 0.08rem;
}
.box .cont1 > .cont {
  width: 3.56rem;
  background: url(../imgs/food@2x.png) no-repeat left top / 3.56rem 1.74rem;
}
.box .cont1 > .cont11 {
  width: 3.56rem;
  background: url(../imgs/hotel@2x.png) no-repeat right top / 3.56rem 1.74rem;
}
.box > img {
  width: 7.02rem;
  height: 3rem;
  border-radius: 0.2rem;
  margin: 0.15rem 0;
}
.box .item {
  width: 7.5rem;
  height: 1.11rem;
  font-size: 0.28rem;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #333333;
  background: #ffffff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.box .item > span {
  width: 1.33rem;
  height: 1.11rem;
  text-align: center;
  line-height: 1.11rem;
}
.box .item span:nth-of-type(1) {
  background: url(../imgs/bot@2x.png) no-repeat center / 0.64rem 0.49rem;
  font-size: 0.32rem;
  font-family: Source Han Sans CN;
  font-weight: 500;
  color: #333333;
}
.box .content {
  width: 7.5rem;
  height: 2.3rem;
  background: #ffffff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.2rem 0.23rem;
  box-sizing: border-box;
  margin-top: 0.01rem;
  margin-bottom: 0.1rem;
}
.box .content > img {
  width: 1.9rem;
  height: 1.9rem;
  border-radius: 0.14rem;
}
.box .content .Description4 {
  width: 5rem;
  height: 2.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin-left: 0.24rem;
}
.box .content .Description4 h1 {
  font-size: 0.3rem;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #333333;
}
.box .content .Description4 p {
  font-size: 0.24rem;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #666666;
}
.box .content .Description4 .icon {
  width: 5rem;
  height: 0.45rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box .content .Description4 .icon > img {
  width: 0.28rem;
  height: 0.25rem;
}
.box .content .Description4 .icon span {
  width: 2rem;
  font-size: 0.26rem;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #666666;
}
.box .content .Description4 > .Description41 {
  width: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.box .footer {
  width: 7.5rem;
  height: 0.98rem;
  background: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  position: fixed;
  left: 0;
  bottom: 0;
}
.box .footer .box2 {
  width: 1.9rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box .footer .box2 > span {
  font-size: 0.22rem;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #666666;
}
.box .footer .box2 > img {
  width: 0.44rem;
  height: 0.44rem;
}
